<div class="barcode">
  <span class="container">
    <span class="values">
      <i><span>0</span></i>
      <b><span>1</span></b>
      <i><span>0</span></i>
      <b><span>1</span></b>
      <i><span>0</span></i>
      <i><span>0</span></i>
      <b><span>1</span></b>
      <b><span>1</span></b>
      <i><span>0</span></i>
      <b><span>1</span></b>
      <i><span>0</span></i>
      <b><span>1</span></b>
      <i><span>0</span></i>
      <b><span>1</span></b>
      <i><span>0</span></i>
      <b><span>1</span></b>
      <b><span>1</span></b>
      <i><span>0</span></i>
      <i><span>0</span></i>
      <i><span>0</span></i>
      <b><span>1</span></b>
      <b><span>1</span></b>
      <b><span>1</span></b>
      <i><span>0</span></i>
      <b><span>1</span></b>
      <b><span>1</span></b>
      <b><span>1</span></b>
      <i><span>0</span></i>
      <b><span>1</span></b>
      <b><span>1</span></b>
      <b><span>1</span></b>
      <i><span>0</span></i>
      <b><span>1</span></b>
      <b><span>1</span></b>
      <b><span>1</span></b>
      <i><span>0</span></i>
      <b><span>1</span></b>
      <b><span>1</span></b>
      <b><span>1</span></b>
      <i><span>0</span></i>
      <b><span>1</span></b>
      <b><span>1</span></b>
      <b><span>1</span></b>
      <i><span>0</span></i>
      <i><span>0</span></i>
      <b><span>1</span></b>
      <b><span>1</span></b>
      <b><span>1</span></b>
      <i><span>0</span></i>
      <b><span>1</span></b>
      <b><span>1</span></b>
      <b><span>1</span></b>
      <b><span>1</span></b>
      <b><span>1</span></b>
      <i><span>0</span></i>
      <b><span>1</span></b>
      <i><span>0</span></i>
      <b><span>1</span></b>
      <b><span>1</span></b>
      <i><span>0</span></i>
      <b><span>1</span></b>
      <b><span>1</span></b>
      <b><span>1</span></b>
      <i><span>0</span></i>
      <b><span>1</span></b>
      <b><span>1</span></b>
      <b><span>1</span></b>
      <i><span>0</span></i>
      <b><span>1</span></b>
      <b><span>1</span></b>
      <i><span>0</span></i>
    </span>
    <div class="serial">{{ site.bookserial }}</div>
  </span>
</div>
