<div class="top-bar">
  <div class="top-bar-title">
    <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
      <button class="menu-icon dark" type="button" data-toggle></button>
    </span>
    <span class="site-title"><strong>{{ site.title | escape }}</strong></span>
  </div>
  <div id="responsive-menu">
    <div class="top-bar-left top-bar-section">
      <ul class="dropdown menu" data-dropdown-menu>
        {% for link in site.data.navigation %}

        {% if link.url contains 'http' %}
        {% assign domain = '' %}
        {% elsif link.url == '#' %}
        {% assign domain = '' %}
        {% else %}
        {% assign domain = site.url %}
        {% endif %}

        {% comment %}   If there are links for left side begin   {% endcomment %}
        {% if link.side == 'left' %}

        {% comment %}   If left side WITHOUT dropdown menu do   {% endcomment %}
        {% if link.dropdown == nil %}
        <li{% if link.url == page.url %} class="active"{% elsif page.homepage == true and link.url == '/' %} class="active"{% endif %} data-link-id="{{ link.id }}"><a {% if link.class %}class="{{link.class}}"{% endif %} href="{{ domain }}{{ site.baseurl }}{{ link.url }}"{% if link.url contains 'http' %} target="_blank"{% endif %}><i class="icon icon-{{ link.icon | escape }}"></i>{{ link.title | escape }}</a></li>

        {% comment %}   If left side WITH dropdown menu do   {% endcomment %}
        {% else %}

        <li class="dropdown{% if link.url == page.url %} active{% endif %}" data-link-id="{{ link.id }}">
          <a {% if link.class %}class="{{link.class}}"{% endif %} href="{{ domain }}{{ site.baseurl }}{{ link.url }}"{% if link.url contains 'http' %} target="_blank"{% endif %}><i class="icon icon-{{ link.icon | escape }}"></i>{{ link.title | escape }}</a>

          <ul class="dropdown">
            {% for dropdown_link in link.dropdown %}

            {% if dropdown_link.url contains 'http' %}
            {% assign domain = '' %}
            {% else %}
            {% assign domain = site.url %}
            {% endif %}

            <li><a {% if dropdown_link.class %}class="{{dropdown_link.class}}"{% endif %} href="{{ domain }}{{ site.baseurl }}{{ dropdown_link.url }}"{% if dropdown_link.url contains 'http' %} target="_blank"{% endif %}><i class="icon icon-{{ dropdown_link.icon | escape }}"></i>{{ dropdown_link.title | escape }}</a></li>
            {% endfor %}
          </ul>

        </li>
        {% endif %}
        {% endif %}
        {% endfor %}
        {% comment %}   Second loop finished   {% endcomment %}
      </ul>
    </div>
    <div class="top-bar-right top-bar-section">
      <ul class="menu">
        {% for link in site.data.navigation %}

        {% if link.url contains 'http' %}
        {% assign domain = '' %}
        {% elsif link.url == '#' %}
        {% assign domain = '' %}
        {% else %}
        {% assign domain = site.url %}
        {% endif %}

        {% comment %}   If there are links for right side begin   {% endcomment %}
        {% if link.side == 'right' %}
        {% comment %}   If right side WITHOUT dropdown menu do   {% endcomment %}
        {% if link.dropdown == nil %}
        <li{% if link.url == page.url %} class="active"{% elsif page.homepage == true and link.url == '/' %} class="active"{% endif %} data-link-id="{{ link.id }}"><a {% if link.class %}class="{{link.class}}"{% endif %} href="{{ domain }}{{ site.baseurl }}{{ link.url }}"{% if link.url contains 'http' %} target="_blank"{% endif %}><i class="icon icon-{{ link.icon | escape }}"></i>{{ link.title | escape }}</a></li>

        {% comment %}   If right side WITH dropdown menu do   {% endcomment %}
        {% else %}

        <li class="dropdown{% if link.url == page.url %} active{% endif %}" data-link-id="{{ link.id }}">
          <a {% if link.class %}class="{{link.class}}"{% endif %} href="{{ domain }}{{ site.baseurl }}{{ link.url }}"{% if link.url contains 'http' %} target="_blank"{% endif %}><i class="icon icon-{{ link.icon | escape }}"></i>{{ link.title | escape }}</a>

          <ul class="dropdown">
            {% for dropdown_link in link.dropdown %}

            {% if dropdown_link.url contains 'http' %}
            {% assign domain = '' %}
            {% else %}
            {% assign domain = site.url %}
            {% endif %}

            <li data-link-id="{{ link.id }}"><a {% if dropdown_link.class %}class="{{dropdown_link.class}}"{% endif %} href="{{ domain }}{{ site.baseurl }}{{ dropdown_link.url }}"{% if dropdown_link.url contains 'http' %} target="_blank"{% endif %}><i class="icon icon-{{ dropdown_link.icon | escape }}"></i>{{ dropdown_link.title | escape }}</a></li>
            {% endfor %}
          </ul>

        </li>
        {% endif %}
        {% endif %}
        {% endfor %}
        {% comment %}   First loop finished 1   {% endcomment %}

      </ul>
    </div>
  </div>
</div>
