{% assign prevPage = page.order | minus:1 %}
{% assign nextPage = page.order | plus:1 %}
{% assign isHome = page.path == 'index.html' %}

{% assign front_icon = 'book-dark' %}
{% assign back_icon = 'information' %}
{% assign random_icon = 'random' %}
{% assign toc_icon = 'pages' %}
{% assign page_icon = 'document' %}

<div class="site-header">
  <div class="inner">
    <h1 class="site-title">
      <a href="/">
        <strong>{{ site.title }}</strong><br/>{{ site.subtitle }}
      </a>
    </h1>
  </div>
</div>

<nav class="nav" id="primary-nav" data-page-count="{{ site.page_count }}">
  <div class="menu-container">
    <ul class="menu left">

      <li class="home site-title" {% if page.url == '/' %}data-active="true"{% endif %}>
        <a href="{{ site.prod_url }}">
          <div class="icon front-cover">
            {% include {{ front_icon | prepend: 'svg/' | append: '.svg' }} %}
          </div>
          <span class="caption">Front Page</span>
        </a>
      </li>

      <li class="toc" {% if page.url == '/toc' %}data-active="true"{% endif %}>
        <a href="{{ site.prod_url }}{{ site.baseurl }}/toc">
          <div class="icon toc-index">
            {% include {{ toc_icon | prepend: 'svg/' | append: '.svg' }} %}
          </div>
          <span class="caption">Table of Contents</span>
        </a>
      </li>

      <li class="end" {% if page.url == '/end' %}data-active="true"{% endif %}>
        <a href="{{ site.prod_url }}/end">
          <div class="icon back-cover">
            {% include {{ back_icon | prepend: 'svg/' | append: '.svg' }} %}
          </div>
          <span class="caption">Back Cover</span>
        </a>
      </li>

      <li class="random">
        <a id="random-poem" href="{{ site.baseurl }}/poem">
          <div class="icon random">
            {% include {{ random_icon | prepend: 'svg/' | append: '.svg' }} %}
          </div>
          <span class="caption">Random Page</span>
        </a>
      </li>

    </ul>

    <ul class="menu right">
      {% if page.path != 'index.html' %}
        {% if page.path != 'pages/last.md' %}
          {% if page.path != 'pages/toc.md' %}
            <li class="page-index-preview" data-active="true">
              <a href="{{ site.url }}/poem{{ page.order }}">
                <div class="icon page">
                  {% include {{ page_icon | prepend: 'svg/' | append: '.svg' }} %}
                </div>
                <span class="caption">Page {{ page.order }}/{{ site.page_count }} &mdash; <strong>{{ page.title}}</strong></span>
              </a>
            </li>
          {% endif %}
        {% endif %}
      {% endif %}

      {% if page.path != 'index.html' %}
        {% if prevPage == 0 %}
        <li class="prev"><a href="{{ site.url }}/toc">Previous</a></li>
        <li class="next"><a href="{{ site.url }}/poem{{ nextPage }}">Next</a></li>
        {% else %}
          {% if page.path != "pages/last.md" %}
          <!--<li class="prev"><a href="{{ site.url }}/poem9">Back to Last Poem</a></li>-->
            {% if page.path == "pages/toc.md" %}
            <li class="prev"><a href="{{ site.url }}">Previous</a></li>
            {% else %}
            <li class="prev"><a href="{{ site.url }}/poem{{ prevPage }}">Previous</a></li>
            {% endif %}
          {% endif %}
          {% if page.lastPage == true %}
          <li class="next"><a href="{{ site.url }}/end">Next</a></li>
          {% else %}
            {% if page.path != 'pages/last.md' %}
            <li class="next"><a href="{{ site.url }}/poem{{ nextPage }}">Next</a></li>
            {% endif %}
          {% endif %}
        {% endif %}
      {% endif %}
      {% if page.path == 'index.html' %}
      <li class="next"><a href="{{ site.url }}/toc" class="start-here">Next</a></li>
      {% endif %}
    </ul>
  </div>
</nav>

{% include _social_bar.html %}
