{% assign shareButtonSize = 'large' %}
{% assign icon = 'share' %}
<div class="social-bar" id="social-bar">
  <div class="social-bar-inner">
    <div class="toggle" title="Share in Social Media" aria-label="Share in Social Media">
      <i class="icon">{% include {{ icon | prepend: 'social/' | append: '.svg' }} %}</i>
      <span class="caption">Share</span>
    </div>
    <div class="social-media-channels-menu">
      <div class="social-media-channels-menu-inner">
        <div class="share-button">
          <div class="fb-share-button"
               data-href="http://tomerlichtash.com"
               data-layout="button"
               data-size="{{ shareButtonSize }}"
               data-mobile-iframe="true">
            <a class="fb-xfbml-parse-ignore"
               target="_blank"
               href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Ftomerlichtash.com&amp;src=tomerlichtash">Share</a>
          </div>
        </div>
        <div class="share-button">
          <a class="twitter-share-button customer"
             href="https://twitter.com/share"
             target="_blank"
             data-size="{{ shareButtonSize }}"
             data-text="{{ site.title }} &mdash; {{ site.description }}"
             data-url="{{ site.url }}"
             data-hashtags="visual_poetry,web_book"
             data-via="tomerlichtash">Tweet</a>
        </div>
      </div>
    </div>
  </div>
</div>