@import 'colors';
@import 'mixins';

.author {
  @include box-shadow(0, 0, .5rem, rgba(0, 0, 0, .2));
  @include span(12 of 12 no-gutters);

  border-bottom: 1px solid $white-on-color;
  border-top: 1px solid $white-on-color;
  color: $white;
  margin-top: 2rem;

  .title {
    color: $white;
    font-family: $font5;
    margin: 0 0 2rem;
    padding: 0;
    text-transform: uppercase;
  }

  .inner {
    @include container(100%);
    background: $transparent6;
    padding: 2rem 6rem;
  }

  .photo {
    @extend %disable-user-select;
    @include box-shadow(0, 0, .5rem, rgba(0, 0, 0, .2));

    float: left;
    margin-right: 1rem;
    overflow: hidden;
    width: 105px;

    .image {
      border: 1px solid $image-border-color;
      display: block;
      padding: 2px;
    }

    img {
      display: block;
      width: 100%;
    }
  }

  .meta {
    float: left;
    font-family: $font5;
    width: 60%;

    .name,
    .location,
    .description {
      display: block;
      font-size: .9rem;
      line-height: 1.2rem;
      //margin-bottom: 0.25rem;
    }

    .name {
      //font-size: 1rem;
      font-weight: 900;
      letter-spacing: .2rem;
      margin-bottom: .5rem;
      text-transform: uppercase;
    }
  }

  .social {
    margin: 1rem 0 0;
    padding: 0;
    position: relative;
  }

  .channel {
    display: inline-block;
    float: left;
    font-size: .9rem;
    list-style: none;
    margin: 0;
    padding: 0 1rem 0 0;
    text-transform: lowercase;

    a {
      border-bottom: 0;

      svg {
        fill: $white;
      }

      $svg-size: 20px;

      &:hover {
        svg {
          fill: $highlight;
        }
      }

      &.facebook {
        @include svg($svg-size);
      }

      &.instagram {
        @include svg($svg-size);
      }

      &.linkedin {
        @include svg($svg-size);
      }

      &.twitter {
        @include svg($svg-size);
      }

      &.github {
        @include svg($svg-size);
      }
    }
  }
}
