$transp1: rgba(0, 0, 0, .05);
$transp2: rgba(0, 0, 0, .1);

$white: #fff;
$black: #232a3b;

$c1: #165aff;
$c2: #064aef;
$c3: #c00;

$bg-color: $white; //rgba(6, 74, 239, .04);
$body-text-color: $black;

$nav-selected-color: #063adf;
$image-background-color: #fafafa;
$image-border-color: #e0e0e0;
$toc-neutral-text-color: #babab0;

$footer-background: $transp1; //rgba(0, 0, 0, .05);
$footer-color-text: $body-text-color; //rgba(0, 0, 0, .8);

// theme colors
$c1a: #444;
$c2a: #888;
$c3a: #aaa;
$c4a: #ccc;
$c5a: #eee;

// debug
$icon-bg-color: transparent;
