// base
$white: #fff;
$black: #000;

// transparent colors
$transparent1: rgba(0, 0, 0, .1);
$transparent2: rgba(0, 0, 0, .2);
$pages-border-color: rgba(193, 196, 204, .5);
$white-on-color: rgba(255, 255, 255, .2);

// theme
$c1: #165aff;
$c2: #1012ff;
$c3: #c00;

//$c2: #064aef;
//$c2a: rgba(25, 25, 25, .6);

// backgrounds
$bg-color: lighten($c1, 44%);

$nav-background: $bg-color;
//$nav-selected-color: $c2;

$book-background: lighten($c1, 45%);
$footer-background: rgba(0, 0, 0, .05);

// text color
$body-text-color: rgba(25, 25, 25, .6);
$footer-color-text: $body-text-color;

$link-color: $c1;
$toc-neutral-text-color: #babab0;

// photo frame
$image-background-color: rgba(255, 255, 255, .3);
$image-border-color: rgba(255, 255, 255, .2);

// icon background
$icon-bg-color: transparent;
