@import 'colors';
@import 'mixins';
@import 'typography';

// todo: move to settings
$desktop: (min-device-width: 960px);
$mobile: (min-device-width: 375px) and (max-device-height: 667px);

.footer {
  @include span(12 of 12);

  color: $footer-color-text;
  display: block;
  font-family: $font2;
  font-weight: 300;
  padding: 1rem 0;

  strong {
    font-weight: 900;
  }

  @include breakpoint($desktop) {
    font-size: .8rem;

    p {
      margin: 0;
    }

    .site-content-strip {
      @include container(1200px);
    }

    .license,
    .meta {
      @include span(6 of 12 no-gutters);
    }

    .col {
      @include span(6 of 12 no-gutters);

      &:last-child {
        text-align: right;
      }
    }
  }

  @include breakpoint($mobile) {
    font-size: .8rem;

    .site-content-strip {
      @include container(90%);
    }

    //.col {
    //  @include span(12 of 12);
    //}
  }
}

.license-type {
  &::before {
    content: '(';
  }

  &::after {
    content: ')';
  }
}
