@import 'mixins';
@import 'colors';

.header {
  @include container(100%);

  font-family: $font4;
  margin: 0;
  text-align: center;
  user-select: none;
}

.front-cover {
  position: relative;

  .title {
    font-family: $font4;
    font-size: 1.75rem;
    font-weight: 900;
    line-height: 2.25rem;
    margin: 0;
    text-align: center;

    i {
      display: block;
      font-size: 1rem;
      font-style: italic;
      font-weight: 900;
      margin: 0 1rem;
      vertical-align: middle;
    }
  }

  .subtitle {
    display: block;
    font-family: $font2;
    font-size: 1rem;
    // letter-spacing: 0.1rem;
    // text-shadow: 1px 1px 0 #fff;
    margin: 2rem 0 0;

    &::before,
    &::after {
      content: '\2014';
      margin: 0 .5rem;
      opacity: .7;
    }
  }

  .author {
    font-family: $font2;
    font-weight: 600;
  }

  .meta {
    background: $white;
    bottom: 0;
    color: $c1;
    display: block;
    padding: 2rem 0;
    position: absolute;
    transition: background 125ms;
    width: 100%;
    z-index: 10000;

    &:hover {
      background: $c1;
      color: $white;
    }

    .title {
      text-align: center;
      text-shadow: 0 5px 5px solid $white;
    }

    .subtitle {
      text-align: center;
    }
  }
}

