@import 'barcode';

@mixin reset-page {
  @include box-shadow(0, 0, 0, rgba(0, 0, 0, 0));
  background: none;
  border: 0;
}

@mixin strong-text {
  font-family: $font3;
  font-size: 80%;
  font-weight: 300;
  letter-spacing: .1rem;
  text-transform: uppercase;
}

.book {
  @include span(12 of 12 no-gutters);

  margin-top: 0;
  @include box-shadow(0, 0, .5rem, rgba(0, 0, 0, 0.2));

  .pages {
    @include container(1200px);
    padding-bottom: 6rem;

    .page-content {
      @include span(12 of 12 no-gutters);
      padding: 0 4rem 6rem;
    }

    &.single-page {
      .page {
        @include span(12 of 12 no-gutters);
      }
    }

    .page-title {
      display: block;
      font-family: $font3;
      font-size: 2.5rem;
      font-weight: 100;
      margin: 0;
      text-transform: uppercase;

      &::after {
        content: '\2014';
        display: block;
        font-size: 1.5rem;
        text-align: left;
      }
    }

    .page {
      @include box-shadow(0, 0, 1rem, rgba(0, 0, 0, .2));
      @include span(6 of 12 no-gutters);

      background: $white;
      border: 1px solid darken($footer-background, 50%);
      min-height: 800px;
      position: relative;

      .page-order {
        bottom: 0;
        left: 0;
        position: absolute;
        text-align: right;
        width: 100%;

        i {
          display: inline-block;
          font-family: $font2;
          font-style: normal;
          line-height: 2rem;
          margin: 1rem 2rem;
        }
      }

      &:first-child {
        .page-order {
          text-align: left;
        }
      }

      .page-content {
        padding: 4rem 6rem;
      }

      &.leaflet {
        @include reset-page;
        @include span(6 of 12);

        background: none;

        .page-content {
          min-height: 500px;
          padding-left: 0;
          padding-top: 0;
          position: relative;

          .teaser {
            text-transform: uppercase;
          }

          a,
          p {
            font-family: $font5;
          }

          p {
            font-size: 2rem;
            line-height: 3rem;
            margin: 0;
            opacity: .7;
            text-align: center;
          }

          .small {
            display: block;
            font-size: 1rem;
            line-height: 1.8rem;
            margin-top: 4rem;
            text-align: left;

            strong {
              font-weight: 900;
            }

            .sup {
              @include span(1 of 12 no-gutters);
            }

            .text {
              @include span(11 of 12 no-gutters);
            }
          }
        }
      }

      &.back-cover-leaflet {
        @include reset-page;

        background: none;
        padding-right: 0;
        padding-top: 0;

        .social-bar {
          margin-top: 2rem;

          .share-buttons {
            text-align: center;
          }

          .share-button {
            display: inline-block;
            vertical-align: top;
          }
        }

        .simple-info-box {
          @include span(12 of 12);

          display: block;
          margin-bottom: 8rem;
          text-align: center;
          text-transform: uppercase;

          &.info-foss {
            display: block;
            padding: 4rem;
          }

          .title {
            font-size: 1.4rem;
            font-weight: 900;
            margin-bottom: 1rem;
          }

          .subtitle {
            font-size: 1rem;
            text-transform: uppercase;
          }
        }
      }

      &.back-cover {
        background: $c1;
        color: $white;
        position: relative;

        p {
          font-family: $font2;
          font-weight: 300;
          margin: 0;
        }

        a {
          border-bottom: 2px solid $white;
          color: $white;

          &:hover {
            border-bottom: 3px solid $white;
          }
        }

        .summary {
          margin-bottom: 2rem;
          padding-bottom: 2rem;

          p {
            font-size: 1.15rem;
            line-height: 1.85rem;
          }

          .signature {
            display: inline-block;
            // font-size: 1rem;
            float: right;
            font-size: .8rem;
            line-height: 1.4rem;
            margin-top: 4rem;
            text-align: left;

            .initials {
              display: block;
              font-weight: 900;
              letter-spacing: .1rem;
            }

            .date,
            .location {
              display: block;
              text-transform: uppercase;
            }
          }
        }

        .author {
          overflow: hidden;

          .author-image {
            @include span(3 of 12);
            float: right;

            img {
              @include radius(50%);
              display: block;
              width: 100%;
            }
          }

          .author-bio {
            @include span(8 of 12);

            .name,
            .location {
              display: block;
              font-size: .9rem;
              line-height: 1.6rem;
            }
          }
        }
      }

      &.front-cover {
        .social-bar {
          position: absolute;
          right: -100px;
          top: 0;
          width: 100px;

          .share-button {
            margin-bottom: 5px;
          }
        }

        .meta {
          .author {
            text-transform: uppercase;
          }

          .subtitle {
            line-height: 2rem;
          }
        }

        .page-content {
          // @include span(8 of 12);
          // display: table-cell;
          // height: 100%;
          padding: 0;
          // vertical-align: bottom;
        }
      }

      &.moto {
        display: table;
        height: 100%;

        .page-content {
          display: table;
          height: 100%;
          padding: 0;
          vertical-align: middle;
        }

        .inner {
          display: table-cell;
          height: 100%;
          padding: 4rem;
          vertical-align: middle;
        }
      }

      p {
        font-family: $font3;
        font-size: 1rem;
        font-weight: 300;
        line-height: 2rem;
      }

      blockquote {
        font-family: $font3;
        overflow: hidden;

        p {
          font-size: 1.5rem;
          line-height: 2rem;
          margin: 0;

          strong {
            @include strong-text;
          }
        }

        .source {
          display: block;
          font-size: 1rem;
          margin-top: 1rem;
          text-align: right;

          a {
            display: inline-block;
            font-weight: 500;
            line-height: 1rem;
          }

          &::before {
            content: '\2014';
            margin-right: .5rem;
          }
        }
      }
    }
  }

  .toc {
    margin-top: 6rem;

    .toc-list {

      .toc-list-title {
        font-family: $font3;
        font-size: 1.5rem;
        font-style: italic;
        font-weight: 300;
      }

      .toc-entry-list {
        color: $toc-neutral-text-color;

        .toc-entry {
          font-family: $font3;
          font-size: 1.5rem;
          font-weight: 300;
          line-height: 2rem;
          padding-left: .75rem;
        }
      }
    }
  }
}
