@import './../node_modules/susy/sass/susy';
@import './../node_modules/breakpoint-sass/stylesheets/breakpoint';
@import 'colors';
@import 'typography';
@import 'mixins';

.site-header {
  font-family: $font2;

  .inner {
    position: relative;
  }

  .site-title {
    @extend %disable-user-select;

    font-size: 1.25rem;
    font-weight: 100;
    margin: 0;
    padding: 2rem .7rem;
    text-align: left;
    text-transform: lowercase;

    strong {
      font-size: 2rem;
      font-weight: 900;
      text-transform: capitalize;
    }

    a {
      border: 0;
      color: $c1;
      font-family: $font5;

      &:hover {
        border: 0;
        color: $c3;
      }
    }
  }
}

.nav {
  background: $nav-background;
  overflow: hidden;
}

.menu {
  @extend %disable-user-select;

  margin: 0;
  padding: 0;
  text-transform: uppercase;

  li {
    position: relative;
  }

  a {
    border: 1px solid transparent;
    border-bottom: 0;
    color: mix($black, $transparent2);
    display: block;
    font-size: .9rem;
    font-weight: 500;
    line-height: 3rem;
    outline: 0;
    padding: 0 1rem;

    &:hover {
      border-bottom: 0;
      color: $white;
    }

    &::before,
    &::after {
      position: relative;
    }

    &::before {
      left: 2px;
    }

    &::after {
      right: 2px;
    }
  }

  [data-active='true'] {
    a {
      border: 1px solid $transparent2;
      border-bottom: 0;
    }

    .icon {
      fill: $c1;
    }
  }

  .icon {
    &.random,
    &.front-cover,
    &.back-cover,
    &.page,
    &.toc-index {
      @include svg(24px);
      fill: $body-text-color;
      position: relative;
    }
  }

  .next {
    a {
      &::after {
        content: '\203A';
        margin-left: .5rem;
      }
    }
  }

  .prev {
    a {
      &::before {
        content: '\2039';
        margin-right: .5rem;
      }
    }
  }
}

@include breakpoint($desktop) {
  .site-header {
    .inner {
      @include container(1200px);
    }
  }

  .menu-container {
    @include container(1200px);
  }

  .menu {
    &.right {
      float: right;
    }

    &.left {
      float: left;
    }

    li {
      display: inline-block;
      list-style: none;
      margin: 0;
      vertical-align: bottom;

      &:not([data-active='true']) {
        @include icon-hover;
      }
    }
  }

  [data-active='true'] {
    @include box-shadow(0, 0, .5rem, $transparent2);

    .icon {
      svg {
        fill: $c1;
      }
    }

    a {
      background: $book-background;
      color: $c1;

      &:hover {
        //background: $white;
        color: $c1;

        .icon {
          fill: $c1;
        }
      }
    }


  }
}

@include breakpoint($mobile) {
  .site-header {
    .site-title {
      padding: 1rem;
      text-align: center;
    }
  }

  .caption,
  .page-index-preview {
    display: none;
  }

  //.short-caption {
  //  display: block;
  //}

  .menu-container {
    @include span(12 of 12 no-gutters);
  }

  .menu {
    &.right {
      a {
        padding: 0 1rem;
      }

      .next {
        float: right;
      }

      .prev {
        float: left;
      }
    }
  }

  .right {
    @include span(12 of 12 no-gutters);

    background: $footer-background;
    border-bottom: 1px solid $footer-background;
    border-top: 1px solid $footer-background;
    text-align: center;

    .prev,
    .next {
      display: inline-block;
    }
  }

  .left {
    @include span(12 of 12 no-gutters);

    li {
      float: left;
      list-style: none;
      margin: 0;
      text-align: center;
      width: 25%;
    }
  }

  [data-active='true'] {
    color: $white;

    a {
      background: $c1;

      .caption {
        color: $white;
      }

      svg {
        fill: $white;
      }
    }
  }

}
