@import 'typography';
@import 'mixins';
@import 'colors';

.inner-page-nav {
  @include transition(all, 255ms);

  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 0;
  width: 50px;
  z-index: 10000;

  .link-wrap {
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
  }

  .next,
  .prev {
    display: table;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 50px;

    a {
      border-bottom: 0;
      display: table-cell;
      height: 100%;
      vertical-align: middle;
      width: 50px;
      z-index: 10000;
      margin: 0;

      .link-caption {
        display: none;
      }

      &:hover {
        border-bottom: 0;
      }

      &::after {
        position: relative;
        display: table-cell;
        font-family: $font3;
        font-size: 4rem;
        font-weight: 100;
        text-align: center;
        vertical-align: middle;
        width: 50px;
      }
    }
  }

  .next {
    a {
      &::after {
        @include transition(all, 125ms);
        right: 0;
        content: '\203A';
      }
    }
  }

  .prev {
    a {
      &::after {
        @include transition(all, 125ms);
        left: 0;
        content: '\2039';
      }
    }
  }
}

.inner-page-nav-next {
  @include transition(all, 150ms);
  right: -50px;

  &:hover {
    a {
      color: $c3;

      &::after {
        right: -3px;
      }
    }
  }
}

.inner-page-nav-prev {
  @include transition(all, 150ms);
  left: -50px;

  &:hover {
    a {
      color: $c3;

      &::after {
        left: -3px;
      }
    }
  }
}

@include breakpoint($mobile) {
  .social-bar,
  .inner-page-nav-next,
  .inner-page-nav-prev {
    display: none;
  }
}