---
# DO NOT REMOVE THIS COMMENT
---

$desktop: (min-device-width: 700px) and (min-device-height: 800px);
$tablet: (min-device-width: 660px);
$mobile: (min-device-width: 450px) and (max-device-height: 700px);

@import 'vendor/normalize';
@import 'vendor/susy';
@import 'colors';
@import 'typography';
@import 'mixins';
@import 'footer';
@import 'nav';
@import 'page_nav';
@import 'layout';
@import 'author-profile';
@import 'social';

html,
body {
  background: $bg-color;
  color: $body-text-color;
  font-weight: 100;
  min-height: 100%;
  margin: 0;
}

a {
  border-bottom: 2px solid transparent;
  color: $link-color;
  font-family: $font2;
  text-decoration: none;
  transition: border 100ms;

  &:hover {
    border-bottom: 2px solid $c1;
  }

  &[disabled='true'] {
    cursor: default;
    opacity: .5;

    &:hover {
      border-bottom: 2px solid transparent;
    }
  }
}

blockquote {
  font-family: $font2;
  overflow: hidden;

  p {
    margin: 0;

    strong {
      @include strong-text;
    }
  }

  .source {
    display: block;
    font-size: 1rem;
    margin-top: 1rem;
    text-align: right;

    a {
      display: inline-block;
      font-weight: 500;
      line-height: 1rem;
    }

    &::before {
      content: '\2014';
      margin-right: .5rem;
    }
  }
}

svg {
  text {
    cursor: pointer;
    &:hover {
      border-bottom: 1px solid red;
    }
  }

  > g {
    > text {
      cursor: default;
      font-weight: 100;
      font-family: $font5;
    }
  }
}

.off-screen {
  @extend %disable-user-select;
  clip: rect(1px 1px 1px 1px); /* IE 6/7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; /* added line */
  width: 1px;
}
