---
layout: default
---
<main role="main" class="content">
  <div class="book">
    <div class="pages">
      <div class="wrap">
        <div class="page front-cover">
          <div class="page-content">
            <div class="inner">
              <h1 class="header">
                <a href="/toc">
                  <span class="meta">
                    <span class="author-name">{{ site.author.name }}</span>
                    <span class="title">{{ site.title }}</span>
                    <span class="subtitle">{{ site.subtitle }}</span>
                  </span>
                </a>
              </h1>
              <div id="front-cover-visual" class="word-tree-basic"></div>
            </div>
          </div>
          {% include _page_nav_next.html %}
        </div>
      </div>
    </div>
  </div>
</main>
<script type="text/javascript">
  drawWordTreePoem("front-cover-visual", "book", "implicit", "double", [
    "don't judge a book by its cover",
    "in second thought judge a book any way you want",
    "as if the only thing left to do is to judge a book",
    "in general, a book is a judge"], 24, "#fff", "#5d87ec");
</script>

<!-- "this is a pocket book",
"this pocket is beyond pockets",
"quite optimistic, an implementation of poetry",
"poetry is text",
"not all text is text",
"a poem is placed inside this these pages",
"this book is made of these pages" -->
