---
layout: default
format: word-tree-poem
---
<div class="content">
  <div class="book">
    <div class="pages sheet">
      <div class="wrap">
        {% include _page_nav_prev.html %}
        <div class="page word-tree-poem">
          <div class="page-content">
            <article itemscope itemtype="http://schema.org/Article">
              <header>
                <div itemprop="name">
                  <!-- {% if page.subheadline %}<p class="subheadline">{{ page.subheadline }}</p>{% endif %} -->
                  <!-- <h1 class="page-title">{{ page.order }}. {{ page.title }}</h1> -->
                  <div class="page-title">
                    <span class="page-index">{{ page.order }}</span>
                    <input placeholder="Enter a word" type="text" id="word-tree-input" name="word-tree-poem-title" value="{{ page.title }}">
                    <!-- <button type="submit" name="word-tree-poem-title">Submit</button> -->
                  </div>
                  
                </div>
              </header>
              <div itemprop="articleSection">
                <div id="{{page.wordtreeid}}" style="width: 100%; margin: 0 auto; height: 550px;"></div>
                {{ content }}
              </div>
              <!-- <div class="page-order">
                <i>{{ page.order }}</i>
              </div> -->
            </article>
            <!--<div class="fold">-->
              <!---->
            <!--</div>-->
          </div>
        </div>
        {% include _page_nav_next.html %}
      </div>
    </div>
  </div>
</div>
