---
layout: default
format: word-tree-poem
---
<div class="content">
  <div class="book">
    <div class="pages sheet">
      <div class="wrap">
        {% include _page_nav_prev.html %}
        <div class="page word-tree-poem">
          <div class="page-content">
            <div class="poem">
              <div class="visual">
                <div class="page-title">
                  <span class="page-index">{{ page.order }}</span>
                  <input placeholder="Enter a word" type="text" id="word-tree-input" name="word-tree-poem-title" value="{{ page.title }}">
                  <!-- <button type="submit" name="word-tree-poem-title">Submit</button> -->
                </div>
                <div id="{{page.wordtreeid}}" class="word-tree" data-style="width: 100%; margin: 0 auto; height: 550px;"></div>
              </div>
              <div class="text">
                <div class="inner">
                  <div class="gutters">
                    {{ content }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% include _page_nav_next.html %}
      </div>
    </div>
  </div>
</div>